{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Semua Buku</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock meta %}

{% block style %}
<style>
    a{
        color:#4F5352;
    }
    .buttonuser{
        display: flex;
        margin-right: 10px;
    }
    .centernav{
        display: flex;
        position: relative;
    }
    .btnlogin{
        border-radius: 20px;
        background-color: #4F5352;
        color: #C8C1B7;
        overflow: hidden;
    }
    .custom-size{
        padding: 10px;
        font-size: 24px;
    }
    
    a .bi {
        color: #4F5352;
    }

  #cardperson{
    background-color: #79BDC4;
  }

  .card img {
        object-fit:cover; /* Do not scale the image */
        object-position: top; /* Center the image within the element */
        width: 100%;
        max-height: 275px;
        height: 275px   ;
    }
    .card {
    color: aqua;
    }
    
    .card-body {
        overflow-y: auto;
        color: aquamarine;
        background-color: #1f436d;
    }


    .card-img-top{
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color:#1c333b ;
    }
    .card-title{
        overflow-x: auto;
        white-space: nowrap;
    }
    .card-text{
        overflow-x: auto;
        white-space: nowrap;
    }

    body {
        background-color: rgb(255, 255, 255);
        font-size: 16px; /* Ukuran teks utama */
        font-family: 'Courier New', monospace; 
    }

    .card {
        border: none !important;

    }
    
    .container {
        max-width: 1200px; /* Maksimum lebar konten */
        margin: 0 auto; /* Pusatkan konten di tengah layar */
        text-align: center;
    }

    .heading {
        background-color: rgb(233, 185, 185);
        display: flex;
        padding: 20px;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    #item_card {
        display: flex;
        flex-wrap: nowrap; /* Tetap berjejer tanpa memulai baris baru */
        overflow-x: auto; /* Tampilkan scroll horizontal jika tidak cukup lebar */
    }

    .card {
        width: 300px; /* Sesuaikan lebar kartu sesuai kebutuhan */
        height: 450px; /* Atur tinggi kartu sesuai kebutuhan */
        max-width: 100%; /* Batasi lebar maksimum kartu */
        margin-right: 10px; /* Beri jarak antara kartu */
        margin-bottom: 20px;
    }

    .logout {
        background-color: rgb(201, 124, 137);
        /* You can customize other styles as needed, like text color, padding, etc. */
        color: white; /* Text color */
        padding: 10px 20px; /* Padding around the button */
        /* Add more styles as needed */
        border-radius: 20px;
    }

    .add-item {
        background-color: rgb(201, 124, 137);
        /* You can customize other styles as needed, like text color, padding, etc. */
        color: white; /* Text color */
        padding: 10px 20px; /* Padding around the button */
        /* Add more styles as needed */
        border-radius: 20px;
        
        
    }

    .btn-secondary {
        background-color: rgb(214, 176, 126);
        /* You can customize other styles as needed, like text color, padding, etc. */
        color: white; /* Text color */
        padding: 10px 20px; /* Padding around the button */
        /* Add more styles as needed */
        border-radius: 20px;
    }

    .card:last-child {
    background-color: rgb(212, 111, 142);
    }

    a{
        color:#4F5352;
    }
    .buttonuser{
        display: flex;
        margin-right: 10px;
    }
    .centernav{
        display: flex;
        position: relative;
    }

    .heart-btn:hover .heart-icon {
        color: red;
    }
      
</style>
{% endblock style %}

{% block content %}



<!-- Modal -->

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="searchBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">Your rating</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <form id="reviewForm" method="get">
                    <div class="mb-3">
                        <label for="bookTitleSearch" class="form-label">Review singkat:</label>
                        <input type="text" class="form-control" id="reviewBook" name="reviewBook" placeholder="Masukkan review">
                    </div>
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating:</label>
                        <select class="form-control" id="rating" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<nav class="navbar sticky-top" style="background-color: #C8C1B7;">  
    <ul class="nav justify-content-center">
        <li class="nav-item custom-size">
            <a href="{% url 'user:profile'%}"><i class="bi bi-person-fill custom-color"></i></a>
        </li>
        <li class="nav-item custom-size">
            <a href="{% url 'user:show_wishlist'%}"><i class="bi bi-heart-fill custom-color"></i></a>
        </li>
        <li class="nav-item custom-size">
            <a href="{% url 'book:list_buku'%}"><i class="bi bi-book-fill custom-color"></i></a>
        </li>
        <li class="nav-item custom-size">
            <a href="{% url 'updates:updates'%}"><i class="bi bi-megaphone-fill"></i></a>
        <li class="nav-item custom-size">
            <a href="{% url 'user:logout'%}"><i class="bi bi-box-arrow-right"></i></a>
        </li>
    </ul>

    <b><a href="{% url 'user:show_home'%}" class="navbar-brand" style="font-size: xx-large; color:#4F5352">BooketList</a></b>
</nav>

<br>
<br>

<h1 style="text-align:center">Our Reviewed Books</h1>

<div class="container mt-4" id="product_table">
    <div class="row">
        {% if reviews %}
            {% for review in reviews %}
                <div class="col-md-3 mt-4">
                    <div class="card" data-book-id="{{ review.pk }}" data-book-title="{{ review.product.title }}">
                        <img src="{{ review.product.image_url_l }}" class="card-img-top" alt="{% static 'finalExport.png' %}" />
                        <div class="card-body">
                            <h5 class="card-title">{{ review.product.title }}</h5>
                            <p class="card-text">Review by {{ review.user }}</p>
                            <p class="card-text">{{ review.review_text }}</p>
                            <p class="card-text">Rating : {{ review.review_rating }}</p>
                            <a href="#" class="btn btn-delete" style="margin-right: 5px;"><i class="bi bi-trash-fill"></i></a>
                            <a href="#" class="btn btn-secondary review-btn" style="margin-right: 5px;"><i class="bi bi-pen"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <div class="col-md-12 mt-4">
            <p>Tidak ada buku </p>
        </div>
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="wishlistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Informasi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          some
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="searchBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">Your rating</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <form id="reviewForm" method="get">
                    <div class="mb-3">
                        <label for="bookTitleSearch" class="form-label">Review singkat:</label>
                        <input type="text" class="form-control" id="reviewBook" name="reviewBook" placeholder="Masukkan review">
                    </div>
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating:</label>
                        <select class="form-control" id="rating" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
  
<script>
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
        }
    });
    
    $(document).ready(function(){
        $('.close').on('click', function(){
            $('#reviewModal').modal('hide');
        });
    });
    
    $(document).ready(function(){
        const modalElement = document.getElementById('wishlistModal');
        const modal = new bootstrap.Modal(modalElement);
        const modalBody = modalElement.querySelector('.modal-body');
        
        // Menggunakan event delegation
        $("#product_table .row").on("click", ".btn-delete", function(e){
            e.preventDefault();
            
            var bookId = $(this).closest('.card').data('book-id');
            var cardDiv = $(this).closest('.col-md-3');
            var bookTitle = $(this).closest('.card-body').data('book-title');
    
            $.ajax({
                
                url: `/wishlist/delete-review-book2/${bookId}/`,
                type: 'POST',
                data: {
                    'book_id': bookId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Memastikan mengirim token CSRF
                },
                success: function(response) {
                    if (response.status == 'ok') {
                        cardDiv.remove();
                        modalBody.textContent = "Buku dengan judul '" + bookTitle + bookId + "' berhasil dihapus dari Review";
                    } else {
                        alert(response.message || 'There was an error. Please try again.');
                    }
                    modal.show();
                },
                
            });
        });
    });
    

    $(document).ready(function() {
        $(".review-btn").click(function() {
            $("#reviewModal").modal('show');
        });
    });



    $(document).ready(function() {
        $("#reviewForm").on("submit", function(event) {
            event.preventDefault();
            var bookId = $(this).closest('.card').data('book-id');
            var cardDiv = $(this).closest('.col-md-3');
            var bookTitle = $(this).closest('.card-body').data('book-title');
            $.ajax({
                url: `/wishlist/delete-review-book2/${bookId}/`,
                type: "GET",
                success: function(data) {
                    $("#product_table .row");
                    if (reviews.length > 0) {
                        data.books.forEach(function(book) {
                            var bookCard = `<div class="col-md-3 mt-4">
                                                <div class="card" data-book-id="${review.pk}">
                                                    <img src="${review.image_url_l}" class="card-img-top" alt="book image" />
                                                    <div class="card-body" data-book-title="${review.title}">
                                                        <h5 class="card-title">{{ review.product.title }}</h5>
                                                        <p class="card-text">{{ review.review_text }}</p>
                                                        <p class="card-text">Rating : {{ review.review_rating }}</p>
                                                        <a href="#" class="btn btn-delete" style="margin-right: 5px;"><i class="bi bi-trash-fill"></i></a>
                                                        <a href="#" class="btn btn-secondary review-btn" style="margin-right: 5px;"><i class="bi bi-pen"></i></a>
                                                    </div>
                                                </div>
                                            </div>`;
                            $("#product_table .row").append(bookCard);
                        });
                    } else {
                        $("#product_table .row").append('<div class="col-md-12 mt-4"><p>Anda Tidak mempunyai Buku Yang telah diReview</p></div>');
                    }
                },
                error: function(error) {
                    alert("Terjadi kesalahan. Silakan coba lagi.");
                },
                complete: function() {
                    $("#reviewModal").modal("hide");
                }
            });
        });
    });
    

    
    
    
    
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

{% include 'footer.html' %}
{% endblock content %}