<script>
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
        }
    });
    
    $(document).ready(function(){
        $('.close').on('click', function(){
            $('#searchBookModal').modal('hide');
        });
    });
    
    $(document).ready(function(){
        const modalElement = document.getElementById('wishlistModal');
        const modal = new bootstrap.Modal(modalElement);
        const modalBody = modalElement.querySelector('.modal-body');
        
        // Menggunakan event delegation
        $("#product_table .row").on("click", ".btn-delete", function(e){
            e.preventDefault();
            
            var bookId = $(this).closest('.card').data('book-id');
            var cardDiv = $(this).closest('.col-md-3');
            var bookTitle = $(this).closest('.card-body').data('book-title');
    
            $.ajax({
                url: `/wishlist/delete-wishlist-book/${bookId}/`,
                type: 'POST',
                data: {
                    'book_id': bookId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Memastikan mengirim token CSRF
                },
                success: function(response) {
                    if (response.status == 'ok') {
                        cardDiv.remove();
                        modalBody.textContent = "Buku dengan judul '" + bookTitle + "' berhasil dihapus dari wishlist";
                    } else {
                        alert(response.message || 'There was an error. Please try again.');
                    }
                    modal.show();
                },
                error: function(error) {
                    alert(error.responseJSON.message || 'There was an error. Please try again.');
                }
            });
        });
    });
    

    $(document).ready(function() {
        $(".search-btn").click(function() {
            $("#searchBookModal").modal('show');
        });
    });
    
    $(document).ready(function() {
        $("#bookSearchForm").on("submit", function(event) {
            event.preventDefault();
            const searchValue = $("#bookTitleSearch").val();
            const yearFilter = $("#yearFilter").val();
            $.ajax({
                url: `/wishlist/search_wishlist/?bookTitleSearch=${searchValue}&yearFilter=${yearFilter}`,
                type: "GET",
                success: function(data) {
                    $("#product_table .row").empty();
                    if (data.books.length > 0) {
                        data.books.forEach(function(book) {
                            var bookCard = `<div class="col-md-3 mt-4">
                                                <div class="card" data-book-id="${book.pk}">
                                                    <img src="${book.image_url_l}" class="card-img-top" alt="book image" />
                                                    <div class="card-body" data-book-title="${book.title}">
                                                        <h5 class="card-title">${book.title}</h5>
                                                        <p class="card-text">Author: ${book.author}</p>
                                                        <p class="card-text">Year: ${book.year}</p>
                                                        <a href="#" class="btn btn-delete" style="margin-right: 5px;">
                                                            <i class="bi bi-trash-fill"></i> Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>`;
                            $("#product_table .row").append(bookCard);
                        });
                    } else {
                        $("#product_table .row").append('<div class="col-md-12 mt-4"><p>Tidak ada buku dengan judul dan filter tersebut di wishlist Anda.</p></div>');
                    }
                },
                error: function(error) {
                    alert("Terjadi kesalahan saat mencari. Silakan coba lagi.");
                },
                complete: function() {
                    $("#searchBookModal").modal("hide");
                }
            });
        });
    });

    
    
    
    
</script>