{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock meta %}
{% block style %}
    <link rel="stylesheet" href="{% static 'user/css/home.css' %}">
{% endblock style %}

{% block content %}
{% include 'header_user.html' %}
{% include 'news.html' %}
<br>
<h1 style="text-align:center">Editor's choice</h1>
<div class="container mt-4" id="product_table">
    <div class="row">
        {% if products %}
            {% for product in products|slice:":12" %}
                <div class="col-md-3 mt-4">
                    <div class="card" data-book-id="{{ product.pk }}" data-book-title="{{ product.title }}">
                        <img src="{{ product.image_url_l }}" class="card-img-top" alt="{% static 'finalExport.png' %}" />
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">Author: {{ product.author }}</p>
                            <a href="#" class="btn btn-secondary heart-btn" style="margin-left: 5px;">
                                <i class="bi bi-heart-fill custom-color heart-icon" {% if product.pk in wishlisted_book_ids %}style="color: red;"{% endif %}> </i>
                            </a>
                            <a href="#" class="btn btn-secondary" style="margin-right: 5px;"><i class="bi bi-chat-fill custom-color"> </i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <div class="col-md-12 mt-4">
            <p>Tidak ada buku </p>
        </div>
        {% endif %}
    </div>
</div>
{% include 'footer.html' %}
{% endblock content %}