{% extends 'base.html' %}

{% block meta %}
    <title>signup</title>
{% endblock meta %}

{% block style %}
<style>
    .container{
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }
    .card-box{
        background-color: #ABC5B8;
        justify-items: center;
        border-radius: 40px;
        width: fit-content;
        padding: 20px;
    }
    td{
        padding: 10px;
    }
    input{
        background-color: #D9D9D9;
        color: #4F5352;
        border-radius: 10px;
        border-style: hidden;
        width:350px;
        height: 35px;
    }
    input[type=text]:focus {
        border: 3px solid #4F5352;
    }
    .custom-select-class{
        background-color: #D9D9D9;
        color: #4F5352;
        width: 350px;
        height: 35px;
        border-radius: 10px;
        border-style: hidden;
    }
    input[type=submit]{
        background-color: #4F5352;
        color: #D9D9D9;
        width: 80px;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container">
    <div class="card-box">
        <center><h2 style="color: #4F5352;">Sign Up Author</h2></center>

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><center><input type="submit" name="submit" value="Daftar"/></center></td>
                </tr>  
            </table>  
        </form>
    </div>
</div>
{% endblock content %}