{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>signup</title>
{% endblock meta %}

{% block style %}
  <link rel="stylesheet" href="{% static 'user/css/signup.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card" id="card-role">
          <div class="card-header" style="background-color: #D9D9D9; color: #4F5352;">
            <center><h2>Choose Your Role</h2></center>
          </div>
          <div class="card-body">
              <div class="row">
                 <div class="col-lg-6">
                  <a type="button" class="btn btn-block" href="{% url 'user:signup_author' %}">AUTHOR</a>
                 </div>
                 <div class="col-lg-6">
                  <a type="button" class="btn btn-block" href="{% url 'user:signup_reader' %}">READER</a>
                 </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}