{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>signup</title>
{% endblock meta %}

{% block style %}
 <link rel="stylesheet" href="{% static 'user/css/signup_author.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <div class="card-box">
        <center><h2 style="color: #4F5352;">Sign Up Author</h2></center>

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><center><input type="submit" name="submit" value="Daftar"/></center></td>
                </tr>  
            </table>  
        </form>
    </div>
</div>
{% endblock content %}