<style>
  /* Mengatur footer agar tidak fixed */
  .custom-footer {
      text-align: center;
      color: white;
      background-color: #C8C1B7;
      width: 100%;
      clear: both; /* Ini penting untuk memastikan footer selalu berada di bawah konten */
      margin-top: 50px; /* Tambahkan margin di atas footer */
  }
</style>

<footer class="custom-footer">
    <!-- Grid container -->
    <div class="container p-2"></div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-2">
      © 2023 Copyright:
      <a class="text-white" href="https://github.com/MinafCorp">MinafCorp</a>
    </div>
    <!-- Copyright -->
</footer>
