{% load static %}
{% block style %}
<style>
    a{
        color:#4F5352;
    }
    .buttonuser{
        display: flex;
        margin-right: 10px;
    }
    .centernav{
        display: flex;
        position: relative;
    }
    .btnlogin{
        border-radius: 20px;
        background-color: #4F5352;
        color: #C8C1B7;
        overflow: hidden;
    }
    .custom-size{
        padding: 10px;
        font-size: 24px;
    }
</style>
{% endblock style %}

{% block content %}
<nav class="navbar sticky-top" style="background-color: #C8C1B7;">  
    <ul class="nav justify-content-center">
        <li class="nav-item custom-size">
            <a href="{% url 'user:profile'%}"><i class="bi bi-person-fill custom-color"></i></a>
        </li>
        <li class="nav-item custom-size">
            <a href="{% url 'user:show_wishlist'%}"><i class="bi bi-heart-fill custom-color"></i></a>
        </li>
        <li class="nav-item custom-size">
            <a href="{% url 'user:list_buku'%}"><i class="bi bi-book-fill custom-color"></i></a>
        </li>
        <li class="nav-item custom-size">
            <a href="{% url 'updates:updates'%}"><i class="bi bi-megaphone-fill"></i></a>
        </li>
        <li class="nav-item custom-size">
            <a href="{% url 'user:logout'%}"><i class="bi bi-box-arrow-right"></i></a>
        </li>
    </ul>

    <b><a href="{% url 'user:show_home'%}" class="navbar-brand" style="font-size: xx-large;">BooketList</a></b>

    <form class="d-flex" role="search" method="POST">
        {% csrf_token %}
        <input
            class="form-control me-2 search-bar"
            type="search"
            placeholder="Search"
            name="search_query"
            required aria-label="Search"
        >
        <button class="btn btn-outline-success search-button" type="submit">Search</button>
    </form>
</nav>

<script>
    function redirectToRegister() {
        location.replace("{% url 'user:signup'%}"); 
    }
</script>
{% endblock content %}