{% extends 'base.html' %}
{% block content %}

<style>
    .container {
        max-width: 1200px; /* Maksimum lebar konten */
        margin: 0 auto; /* Pusatkan konten di tengah layar */
        text-align: center;
    }

  

    #item_card {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap; /* Menjaga elemen-elemen dalam satu baris */
        min-width: 100%; /* Pastikan lebar minimum untuk mencegah kartu menjadi terlalu kecil */
    }

    .card {
        width: 300px;
        height: 300px;
        max-width: 100%;
        margin-right: 10px;
        margin-bottom: 20px;
        object-fit: cover;
        min-width: 300px; /* Pastikan lebar minimum untuk kartu */
        white-space: normal; /* Kembalikan putih-spasi ke normal jika diperlukan */
    }

    /* Jika Anda ingin mengatur jarak antara gambar dan tepi kartu */
    .card img {
        width: 70%;
        height: 70%;
        object-fit: cover; /* Membuat gambar mengisi kartu dan mengatur aspek rasio */
    }


    .add-item {
        background-color: #816e2c;
        /* You can customize other styles as needed, like text color, padding, etc. */
        color: white; /* Text color */
        padding: 10px 20px; /* Padding around the button */
        /* Add more styles as needed */
        border-radius: 20px;
        
        
    }

    .card:last-child {
    background-color: rgb(184, 163, 125);
    }

    a{
        color:#4F5352;
    }
    .buttonuser{
        display: flex;
        margin-right: 10px;
    }
    .centernav{
        display: flex;
        position: relative;
    }

    .search-bar {
    background-color: #F7F7F7;
    border: none;
    border-radius: 20px;
}

/* Gaya untuk tombol pencarian */
.search-button {
    background-color: #816e2c;
    color: white;
    border: none;
    border-radius: 20px;
}

/* Gaya saat tombol pencarian di-hover */
.search-button:hover {
    background-color: #007666;
}
</style>

<nav class="navbar sticky-top" style="background-color: #C8C1B7;">
    <b><a class="navbar-brand" style="font-size: xx-large;">{{ username }}</a></b>
    <form class="d-flex" role="search" method="POST">
        {% csrf_token %}
        <input
            class="form-control me-2 search-bar"
            type="search"
            placeholder="Search"
            name="search_query"
            required aria-label="Search"
        >
        <button class="btn btn-outline-success search-button" type="submit">Search</button>
       </form>
    <div class="buttonuser">
        <button class="btn btnlogin" onclick="redirectToLanding()" type="button" style="background-color: #816e2c; color: white; border: none;">LOGOUT</button>
    </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <center><iframe src="https://giphy.com/embed/VcizxCUIgaKpa" width="480" height="357" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></center>
      </div>
      <div class="carousel-item">
        <center><iframe src="https://giphy.com/embed/atcqQ5PuX41J6" width="480" height="357" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></center>
      </div>
      <div class="carousel-item">
        <center><iframe src="https://giphy.com/embed/3otPoRNsswd0WTQa7m" width="480" height="357" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></center>
      </div>
    </div>
</div>

<div class="container">

    <button type="button" class="btn btn-primary add-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Publish book
    </button>
    

    <div id="item_card" class="row">
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="ISBN" class="col-form-label">ISBN:</label>
                            <input type="number" class="form-control" id="ISBN" name="ISBN"></input>
                        </div>
                        <div class="mb-3">
                            <label for="title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title" name="title"></input>
                        </div>
                        <div class="mb-3">
                            <label for="author" class="col-form-label">Author:</label>
                            <input type="text" class="form-control" id="author" name="author"></input>
                        </div>
                        <div class="mb-3">
                            <label for="year_of_publication" class="col-form-label">Year of Publication:</label>
                            <input type="number" class="form-control" id="year_of_publication" name="year_of_publication"></input>
                        </div>
                        <div class="mb-3">
                            <label for="publisher" class="col-form-label">Publisher:</label>
                            <input type="text" class="form-control" id="publisher" name="publisher"></input>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="col-form-label">Image:</label>
                            <input type="file" class="form-control" id="image" name="image"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Publish</button>
                </div>
            </div>
        </div>
    </div>
    

</div>

    <script>
        function redirectToLanding() {
            location.replace("{% url 'user:show_landing'%}"); 
        }
        
        async function getItems() {
            return fetch("{% url 'manajemen_buku:get_books_json' %}").then((res) => res.json())
        }

        async function refreshItems() {
            const items = await getItems();
            const itemCard = document.getElementById("item_card");
            itemCard.innerHTML = ""; 
            const searchQuery = document.querySelector('input[name="search_query"]').value.toLowerCase();
            const filteredItems = items.filter(item => item.fields.title.toLowerCase().includes(searchQuery));


            filteredItems.forEach((item) => {
                const card = document.createElement("div");
                card.className = "card";

                card.innerHTML = `
                <div class="card-body">
                    <h5 class="card-title">${item.fields.title}</h5>
                    <img src="https://raw.githubusercontent.com/novitaaams/my-first-repo/main/buku.webp" alt="Product Image">
                    <h5 class="card-author">${item.fields.author}</h5>
                    <button data-id="${item.pk}" class="btn btn-danger btn-sm" onclick="deleteItem(this.getAttribute('data-id'))">Delete</button>
                `   
                ;

                itemCard.appendChild(card);
                
                
            });
        }

        refreshItems();

        async function deleteItem(itemId) {
            const deleteUrl = `{% url 'manajemen_buku:delete_books_ajax' item_id=999 %}`.replace('999', itemId);
            console.log(itemId);
            try {
                const response = await fetch(deleteUrl, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(refreshItems)
                
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function addItem() {
            fetch("{% url 'manajemen_buku:add_books_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshItems);

            document.getElementById("form").reset();
            return false;
        }


        document.getElementById("button_add").onclick = addItem;
        document.querySelector('form[role="search"]').addEventListener('submit', function (e) {
            e.preventDefault();
            refreshItems();
        });
    </script>

{% include 'footer.html' %}
{% endblock content %}

